.title{
	display: inline-block;
}

.done{
	text-decoration: line-through;
}

#table-container{
	margin: 0px 10px;
}

.edit, .delete{
	display: none;
}

.edit{
	margin-right: 10px;
}

td:hover .edit, td:hover .delete{
	display: block; 
}

#option-area{
	padding: 10px 10px 0px 0px;
	margin-left: 0px;
}

#remain{
	margin-bottom: 10px;
	margin-right: 10px;
}

#edit-task{
	margin: 5px 0px;
}

#spinner {
	height: 300px 
}

@media (max-width: 768px) {
	.pull-right{
		float: left;
	}
	.title{
		text-align: center;
		display: block;
	}
	#option-area{
		text-align: center;
	}
	#option-area .pull-right{
		float: none;
	}
	#remain{
		margin-top: 10px;
		text-align: center;
		display: block;
		float: none;
	}
	td .pull-right{
		float: right;
	}
	#add-task{
		text-align: center;
	}
}